@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .codigo-logo {
      width: 75%; margin: auto;
    }
  }

  @media only screen and (min-width : 1224px) {
    .codigo-logo {
      width: 30%;
      margin: auto;
    }
   }

   ion-content {
    --background: #555555;
  }